Text, Button {
	font-size: 14;
}

Label {
/*	font-size: 12; */
	color: grey;
}


Link {
/*	font-size: 12; */
	color: #6060ff;
}

.statusBar {
	color: black;
}

Composite {
	background-color: white;
}

.MPartStack {
    swt-maximize-visible: false;
    swt-minimize-visible: false;
}

SashForm {
	background-color: #A0A0A0;
}