/*
Text, Button {
	font-size: 16;
}
*/

Label {
	/*
	font-size: 14;
	*/
	color: grey;
}

.statusBar {
	color: black;
}

Composite {
	background-color: white;
}

.MPartStack {
    swt-maximize-visible: false;
    swt-minimize-visible: false;
    background-color: white;
}

.MPart {
    background-color: white;
}

.MPartSashContainer {
    background-color: grey;
}
